name: test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go:
          - "1.24"
          - "1.25"
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Build & Test
        run: |
          go test -race ./...
